@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    font-size: 10px;
}

h2{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    color: #0B0B0B;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 50rem;
    height: 50rem;
    background-image: url("./img/spiral.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #0B0B0B;
    position: relative;
    border-radius: 20px;;
}

#inp {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-align: center;
    position:absolute;
    top:48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #485460;
    color: #ffc048;
    font-size: 2.5rem;
}

/* For hiding up down arrows */
#inp::-webkit-outer-spin-button,  
#inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#inp[type=number] {
    -moz-appearance: textfield;
}

#fibonacci {
    position: absolute;
    box-sizing: content-box;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0.5rem;
    font-size: 2rem;
    height: 3rem;;
    min-width: 6rem;
    width: auto;
    text-align: center;
    background-color: darkgoldenrod;
    color: #0B0B0B;
    text-shadow: 0 0 7px #fff,
                 0 0 9px #fff,
                 0 0 11px #fff;
    box-shadow: 0 0 7px #fff,
                0 0 9px #fff,
                0 0 11px #fff;
    display: none;
    border-radius: 10px;
}


@media screen and (max-width: 460px) {

    h2 {
        top: 10%;
        font-size: 1.6rem;
        color: #ffc048;
        z-index: 2;
    }
}

